*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: none;
}
html {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body{
  width: 100%;
  /* height: 400vh; */
  /* background: ; */
  background-size: cover;
  background-image: url(../Images/Background/Moon/moonYellowWhole1.png);
}
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ****SCROLLBAR start **** */
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border: 0.15rem solid black;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(255, 255, 255, 0.479);
}
/* ****SCROLLBAR end **** */

nav{
  width: 100%;
  height: 10vh;
  position: fixed;
  color: white;
  font-size: clamp(2em ,3ch,2em);
}
nav > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-mainContentHolder{
  z-index: 999;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
}


#nav-listContainer{
  z-index: 999;
  width: 100%;
  height: 90vh;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top;
  transform: scale(1,0);
  transition: transform 1s ease-in-out 0.5s;
}
#nav-listContainer > ul{
  font-size: 2rem;
  list-style: none;
}

/* ****default**** */
/* #nav-listContainer li{
  opacity: 0;
  padding: 5% 0%;
  transition: opacity 1s ease 0.1s;
} */
/* ****default**** */

/* new */
#nav-listContainer li{
  opacity: 0;
  transform: translateY(15%);
  padding: 5% 0%;
  transition: opacity 1s ease, transform 1s ease;
}

/* new */

/* checkbox condition for toggling the nav-listContainer */
#toggle-nav:checked ~ #nav-listContainer{
  transform: scale(1,1);
  transition: transform 1s ease-in-out ;
}

/* ****default**** */
/* #toggle-nav:checked ~ #nav-listContainer > ul > li{
  opacity: 1;
  transition: opacity 1s ease 1s;
} */
/* ****default**** */

/* new */
#toggle-nav:checked ~ #nav-listContainer > ul > li:nth-of-type(1){
  opacity: 1;
  transform: translateY(-15%);
  transition: opacity 1s ease 1s, transform 1s ease 1s;
}
#toggle-nav:checked ~ #nav-listContainer > ul > li:nth-of-type(2){
  opacity: 1;
  transform: translateY(-15%);
  transition: opacity 1s ease 1.5s, transform 1s ease 1.5s;
}
#toggle-nav:checked ~ #nav-listContainer > ul > li:nth-of-type(3){
  opacity: 1;
  transform: translateY(-15%);
  transition: opacity 1s ease 2s, transform 1s ease 2s;
}
/* new */


.link{
  font-family: monospace;
  color: white;
  text-decoration-color: rgba(255, 255, 255, 0);
  transition: text-decoration-color 0.5s ease-in ;
}
.link:hover{
  text-decoration-color: rgb(255, 255, 255);
}
/* .lt, .gt{
  color: white;
  font-family: monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;600&display=swap');
.logo{
  font-family: 'Lexend Deca', sans-serif;
  /* width: 40%; */
  font-weight: 200;
  padding-left: 5%;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  
  display: flex;
  justify-content: start;
  cursor:pointer;

  transition: 0.2s ease-in-out;
}
.logo:hover{
  color: black;
  background-color: rgb(255, 255, 255);
}
.logo span{
  font-weight: 600;
}
.navInfo{
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}



.hamburgerMenu{
  position: relative;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 5%;
  z-index: 0;
  transform-origin: center;
  transition: transform 0.5s;
  cursor:pointer;
}
.hamburgerMenuClicked{
  transform: rotate(45deg);
}

.backgroundCircle{
  will-change: transform;
  transform-origin: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100em;
  background-color: #ffff;
  z-index: 1;
  transition: transform 0.1s;
}

.hamburgerMenu > img{
  z-index: 2;
  transition: filter 0.5s;

}

#toggle-nav{
  display: none;
}


main{
  height: 400vh;
  
}
.mainContainers{
  padding-top: 10vh;
  height: 100vh;
  scroll-snap-align: center;
}
.heading{
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
  padding-left: 3rem;
  /* padding-top: 1rem; */

  width: 100%;
  height: 10vh;
  
}
.heading > h1{
  font-family: monospace;
}
.heading > p{
  font-size: 1.5rem;
}




/* ~~~~ HOME start ~~~~ */
#home{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeInfoContainer{
  height: 50vh;
  width: 70vw;

  display: flex;
  flex-direction: row;
  
  color: white;
  font-family: monospace;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.26);
}
.myName{
  height: 100%;
  width: 50%;
  padding-left: 1.2rem;
  padding-top: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: start;

  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.myDescription{
  height: 100%;
  width: 50%;

  padding-bottom: 1.2rem;
  padding-right: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;

  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-size: 1.5rem;
  text-align: right;
}

/* ~~~~ HOME end ~~~~ */




/* ~~~~ABOUT start ~~~~ */
#about{
  /* height: 100vh; */
  /* background-color: rgba(229, 255, 0, 0.274); */
}
.aboutMainContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.aboutInfoMainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 70vh;
  margin: 0rem 3rem;
}
.aboutInfoMainContainer > div{
  display: flex;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
}
.skills{
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
}
.skills > .skillsGrid{
  padding: 0rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.skillsGrid > .skillItem{
  text-align: center;
}


.experience{
  height: 100%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
}
/* ~~~~ABOUT end ~~~~ */




/* ~~~~ WORK start~~~~ */
#work{
  /* height: 100vh; */
  background-color: rgba(0, 255, 13, 0.274);
}
/* ~~~~ WORK end ~~~~ */



/* ~~~~ CONTACT start ~~~~ */
#contact{
  /* height: 100vh; */
  /* background-color: rgba(0, 238, 255, 0.274); */
}
.contactMainContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contactFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactForm{
  /* background-color: rgba(55, 0, 255, 0.37); */
  /* background-color: rgba(0, 238, 255, 0.274); */
  background-color: rgba(255, 255, 255, 0.3);
  height: 60vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contactForm > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.formInput{
  height: 2rem;
  width: 30%;
  color: white;
  font-size: 1.3rem;
  font-family: monospace;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.795);
  background-color: transparent;
  padding: 2% 2%;
}
.formInput:focus{
  outline: none;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(2px);
}
/* .formInput:nth-of-type(2){
  height: 2rem;
  width: 30%;
}*/
.formInput::placeholder{
  
  color: rgba(255, 255, 255, 0.5);
}

/* #contact button{
  height: 2rem;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
  border: none;
  border-bottom: 3px solid white;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#contact button:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-bottom: 3px solid black;
  transform: scale(1.2);
} */
#contact button{
  height: 3rem;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 1.5em;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}
#contact button:hover{
  filter: invert(1);
}

/* ~~~~ CONTACT end ~~~~ */


/* ~~~~ Responsive start ~~~ */
@media (max-width: 819px) {
  .heading > p{
    font-size: 1.1rem;
  }
  .mainContainers{
    width: 100%;
    height: 100vh;  
  }
  

  /* ~~~~ HOME start ~~~~ */
  .homeInfoContainer{
    flex-direction: column;
    height: 80vh;
  }
  .myName, .myDescription{
    height: 50%;
    width: 100%;
  }
  .myDescription{
    padding-left: 1.2rem;
  }
  
  /* ~~~~ HOME end ~~~~ */


  /* ~~~~ CONTACT start ~~~~ */
  .formInput{
    height: 2rem;
    width: 80%;
  }
  #contact button{
    height: 2rem;
    width: 50%;
  }
  /* ~~~~ CONTACT end ~~~~ */
  
}
/* ~~~~ Responsive end ~~~ */


/* ~~~~~~ EXTRAS ~~~~~~~ */
nav{
  z-index: 999;
}

.lt{
  
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.gt{
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}
/* main{
  scroll-snap-type: y mandatory;
}
.mainContainers{
  scroll-snap-align: start;
} */